*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx

# Kotlin & Multiplatform
.kotlin
node_modules

# Signing & Keystores
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# OS & Environment
Thumbs.db
.direnv
