*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Kotlin & Multiplatform
.kotlin
kotlin-js-store
node_modules

# Signing & Keystores
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# OS & Environment
Thumbs.db
.direnv
# Project exclude paths
/apps/android-foss/build/
/apps/android-play/build/
/apps/wear/build/
/apps/web/build/
/apps/web/build/classes/kotlin/wasmJs/main/
/build-logic/convention/build/
/build-logic/convention/build/classes/kotlin/main/
/core/design/build/
/core/design/build/classes/kotlin/android/main/
/core/design/build/classes/kotlin/wasmJs/main/
/core/navigation/build/
/core/navigation/build/classes/kotlin/android/main/
/core/navigation/build/classes/kotlin/wasmJs/main/
/feature/start/api/build/
/feature/start/api/build/classes/kotlin/android/main/
/feature/start/api/build/classes/kotlin/wasmJs/main/
/feature/start/impl/build/
/feature/start/impl/build/classes/kotlin/android/main/
/feature/start/impl/build/classes/kotlin/wasmJs/main/